<?php

return [
    'error_reporting' => [
        'errorReportingLevel' => E_ALL,
        'subject' => '[Errors][your-app-id-here]',
        'emails' => [
            'you@domain.com'
        ],
        'from_address' => 'you@domian.com',
        'ignore404' => false,
        'ignoreBot404' => false,
        'ignorablePaths' => []
    ],
];
